<?xml version="1.0" ?>
<config>
    <modules>
        <Centraldofrete_Shipping>
            <version>1.0.0</version>
            <depends>
                <Mage_Shipping />
            </depends>
        </Centraldofrete_Shipping>
    </modules>
    <global>
        <helpers>
            <Centraldofrete_Shipping>
                <class>Centraldofrete_Shipping_Helper</class>
            </Centraldofrete_Shipping>
        </helpers>
        <models>
            <Centraldofrete_Shipping>
                <class>Centraldofrete_Shipping_Model</class>
            </Centraldofrete_Shipping>
        </models>
        <sales>
            <shipping>
                <carriers>
                    <Centraldofrete_Shipping>
                        <class>Centraldofrete_Shipping_Model_Carrier_Centraldofrete</class>
                    </Centraldofrete_Shipping>
                </carriers>
            </shipping>
        </sales>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Centraldofrete_Shipping>
                    <files>
                        <default>Centraldofrete_Shipping.csv</default>
                    </files>
                </Centraldofrete_Shipping>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <centraldofrete>
                <use>standard</use>
                <args>
                    <module>Centraldofrete_Shipping</module>
                    <frontName>centraldofrete</frontName>
                </args>
            </centraldofrete>
        </routers>
        <translate>
            <modules>
                <Centraldofrete_Shipping>
                    <files>
                        <default>Centraldofrete_Shipping.csv</default>
                    </files>
                </Centraldofrete_Shipping>
            </modules>
        </translate>
        <layout>
            <updates>
                <Centraldofrete_Shipping>
                    <file>centraldofrete_shipping.xml</file>
                </Centraldofrete_Shipping>
            </updates>
        </layout>
    </frontend>
    <default>
        <carriers>
            <Centraldofrete_Shipping>
                <model>Centraldofrete_Shipping_Model_Carrier_Centraldofrete</model>
                <active>0</active>
                <active_frontend>1</active_frontend>
                <title>Central do Frete</title>
                <server_url><![CDATA[http://192.168.1.160:3000/]]></server_url>
                <!-- custom quote value and weight, set by store manager -->
                <min_order_value>0</min_order_value>
                <max_order_value>10000</max_order_value>
                <min_order_weight>0</min_order_weight>
                <max_order_weight>100</max_order_weight>
                <!-- gateway quote value and weight, gateway requirements -->
                <standard_min_order_value>0</standard_min_order_value>
                <standard_max_order_value>10000</standard_max_order_value>
                <standard_min_order_weight>0</standard_min_order_weight>
                <standard_max_order_weight>100</standard_max_order_weight>
                <standard_min_length>1</standard_min_length>
                <standard_min_width>1</standard_min_width>
                <standard_min_height>1</standard_min_height>
                <standard_max_length>200</standard_max_length>
                <standard_max_width>100</standard_max_width>
                <standard_max_height>50</standard_max_height>
                <weight_unit>kg</weight_unit>
                <dimension_unit>cm</dimension_unit>
                <show_delivery_days>1</show_delivery_days>
                <delivery_message>em %d dias</delivery_message>
                <add_delivery_days>0</add_delivery_days>
                <add_extra_fee>0</add_extra_fee>
                <estimate_quote_box>0</estimate_quote_box>
                <load_css>0</load_css>
                <load_jquery>0</load_jquery>
                <sort_order>10</sort_order>
                <sallowspecific>1</sallowspecific>
                <specificcountry>BR</specificcountry>
            </Centraldofrete_Shipping>
        </carriers>
    </default>
</config>